<div class="container">
  <graph-calendar @rows={{rows}} @columns={{columns}} @data={{data}} />

  <div class="container-buttons">
    <div class="container-action-buttons">
    {{#if isPlaying}}
      <g-button class="container-action-button" @on-click={{action pause}} @title="Pause" />
    {{else}}
      <g-button class="container-action-button" @on-click={{action play}} @title="Play" />
    {{/if}}
    </div>

    <div class="container-magic-buttons">
      {{#if loading}}
        <div class="container-magic-button__loading">
          Loading...
        </div>
      {{else}}
        {{#if isDefaultMode}}
          <g-button class="container-magic-button" @on-click={{action doMagicTrick}} @title="Magic Trick" />
        {{else}}
          <g-button class="container-magic-button" @on-click={{action setDefaultMode}} @title="Default Mode" />
        {{/if}}
      {{/if}}
    </div>

    <div class="container-interval-buttons">
      <div class="container-interval-buttons__buttons">
        <g-button class="container-interval-buttons__button" @on-click={{action inreaseUpdateInterval}} @title="+" />
        <g-button class="container-interval-buttons__button" @on-click={{action decreaseUpdateInterval}} @title="-" />
      </div>

      <div class="container-interval-buttons__update">
        {{framePerSecond}}fps
      </div>
    </div>
  </div>
</div>